<div class="main-page">
  <header>
    <div class="logo">My Portfolio</div>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  
  <main>
    <section id="about" class="profile">
      <img src="assets/prolie.jpeg" alt="Profile Picture">
      <div class="details">
        <h2>Jabulani Gwala</h2>
        <p>Web/Mobile Developer</p>
        <p>Email: jabula7&#64;outlook.com</p>
        <p>Location: Richards Bay, South Africa</p>
      </div>
    </section>
    
    <section class="about">
      <h2>About Me</h2>
      <p>I am Jabulani Gwala, a recently graduated with a Diploma in IT (Software Development) from Mangosuthu University of Technology. I am driven by ambition and a deep-seated passion for the world of information technology. My academic journey has equipped me with the knowledge and skills needed to thrive in this field, and I am enthusiastic about leveraging these capabilities to make a meaningful impact in the realm of software development and technology.</p>
    </section>

    <section id="experience" class="experience">
      <h2>Experience</h2>
      <ul>
        <li>Internship at XYZ Company - Web Development (2022-2023)</li>
        <li>Freelance Projects - Mobile App Development (2021-2022)</li>
        <!-- Add more experience here -->
      </ul>
    </section>

    <section class="social-media">
      <h2>Social Media</h2>
      <ul>
        <li><a href="https://www.linkedin.com/in/jabulanigwala/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://github.com/jabulani7" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        <!-- Add more social media links here -->
      </ul>
    </section>

    <section id="projects" class="projects">
      <h2>Projects Worked On</h2>
      <div class="project-grid">
        <div class="project-card">
          <img src="assets/wowjobs.png" alt="Project 1">
          <div class="project-details">
            <h3>wowjobs</h3>
            <p>Description of Project 1</p>
            <!-- Add more details about Project 1 -->
          </div>
        </div>

        <div class="project-card">
          <img src="assets/workscape.png" alt="Project 2">
          <div class="project-details">
            <h3>WorkscapeWatch</h3>
            <p>Description of Project 2</p>
            <!-- Add more details about Project 2 -->
          </div>
        </div>

        <div class="project-card">
          <img src="assets/accountant.jpg" alt="Project 1">
          <div class="project-details">
            <h3>Student Analytics </h3>
            <p>Description of Project 1</p>
            <!-- Add more details about Project 1 -->
          </div>
        </div>

        <div class="project-card">
          <img src="assets/ruut.jpg" alt="Project 1">
          <div class="project-details">
            <h3>JOB PLACEMENT</h3>
            <p>Description of Project 1</p>
            <!-- Add more details about Project 1 -->
          </div>
        </div>

        <div class="project-card">
          <img src="assets/pizza.jpg" alt="Project 1">
          <div class="project-details">
            <h3>Snap&Fix</h3>
            <p>Description of Project 1</p>
            <!-- Add more details about Project 1 -->
          </div>
        </div>

        <div class="project-card">
          <img src="assets/nhtr.jpg" alt="Project 1">
          <div class="project-details">
            <h3>Interview Manager System</h3>
            <p>Description of Project 1</p>
            <!-- Add more details about Project 1 -->
          </div>
        </div>


      
        <!-- Add more project cards as needed -->
      </div>
    </section>
    

    <section class="languages">
      <h2>Programming Languages Proficient In</h2>
      <ul class="language-list">
        <li><span class="language">Angular</span></li>
        <li><span class="language">React</span></li>
        <li><span class="language">Next.js</span></li>
        <li><span class="language">Node.js</span></li>
        <li><span class="language">JavaScript</span></li>
        <li><span class="language">TypeScript</span></li>
        <li><span class="language">Firebase</span></li>
        <li><span class="language">PHP</span></li>
        <li><span class="language">SQL</span></li>
        <li><span class="language">APIs</span></li>
        <!-- Add more programming languages here -->
      </ul>
    </section>
  </main>
  
  <footer id="contact">
    <p>&copy; 2024 My Portfolio</p>
  </footer>
</div>